    {% extends '::base.html.twig' %}

    {% block body -%}
    <h1>Comment edit</h1>

    <form method="post"
          action="{{ path('positibe_news_comment_update', { 'id': comment.id }) }}" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT"/>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <button type="submit">Submit</button>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('positibe_news_comment_index') }}">
            Back to the list
        </a>
    </li>
            <li>
        <form action="{{ path('positibe_news_comment_delete', { 'id': comment.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">
                Delete
            </button>
        </form>
    </li>

    </ul>
    {% endblock %}
